In [2]:
import pandas as pd

In [6]:
df=pd.read_excel('/content/Cu-Ni-Si-alloys.xlsx')

In [7]:
df.head()

,Cu,Al,Co,Cr,Mg,Ni,Si,Sn,Zn,Tss (K),...,Hardness (HV),Yield strength (MPa),Ultimate tensile strength (MPa),Electrical conductivity (%IACS),DOI,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,References
0,96.295,0.0,0.0,0.0,0.0,3.3,0.405,0.0,0.0,1173.0,...,186.0,367.0,513.0,38.0,https://doi.org/10.3390/ma12132076,NaN,NaN,NaN,NaN,"Li, J.; Huang, G.; Mi, X.; Peng, L.; Xie, H.; ..."
1,96.155,0.0,0.0,0.0,0.0,3.3,0.545,0.0,0.0,1173.0,...,217.0,448.0,577.0,41.0,https://doi.org/10.3390/ma12132076,NaN,NaN,NaN,NaN,"Li, J.; Huang, G.; Mi, X.; Peng, L.; Xie, H.; ..."
2,96.075,0.0,0.0,0.0,0.0,3.3,0.625,0.0,0.0,1173.0,...,228.0,500.0,629.0,41.0,https://doi.org/10.3390/ma12132076,NaN,NaN,NaN,NaN,"Li, J.; Huang, G.; Mi, X.; Peng, L.; Xie, H.; ..."
3,95.935,0.0,0.0,0.0,0.0,3.3,0.765,0.0,0.0,1173.0,...,238.0,544.0,651.0,38.0,https://doi.org/10.3390/ma12132076,NaN,NaN,NaN,NaN,"Li, J.; Huang, G.; Mi, X.; Peng, L.; Xie, H.; ..."
4,95.935,0.0,0.0,0.0,0.0,3.3,0.765,0.0,0.0,1173.0,...,238.0,548.0,656.0,38.0,https://doi.org/10.3390/ma12132076,NaN,NaN,NaN,NaN,"Li, J.; Huang, G.; Mi, X.; Peng, L.; Xie, H.; ..."

In [9]:
df.isnull().sum()

Cu                                      4
Al                                      5
Co                                      5
Cr                                      5
Mg                                      5
Ni                                      5
Si                                      5
Sn                                      5
Zn                                      5
Tss (K)                                 5
tss (h)                                 5
CR reduction (%)                        5
Aging                                   5
Tag (K)                                 5
tag (h)                                 5
Secondar. thermo-mecha0ical process     5
Hardness (HV)                           5
Yield strength (MPa)                    5
Ultimate tensile strength (MPa)         5
Electrical conductivity (%IACS)         5
DOI                                     5
Unnamed: 21                            42
Unnamed: 22                            42
Unnamed: 23                            42
Unnamed: 24                            42
References                              5
dtype: int64

In [10]:
df.shape

(42, 26)

In [16]:
#for numerical columns
df=df.fillna(df.median(numeric_only=True))

In [17]:
df.isnull().sum()

Cu                                      4
Al                                      0
Co                                      0
Cr                                      0
Mg                                      0
Ni                                      0
Si                                      0
Sn                                      0
Zn                                      0
Tss (K)                                 0
tss (h)                                 0
CR reduction (%)                        0
Aging                                   5
Tag (K)                                 0
tag (h)                                 0
Secondar. thermo-mecha0ical process     5
Hardness (HV)                           0
Yield strength (MPa)                    0
Ultimate tensile strength (MPa)         0
Electrical conductivity (%IACS)         0
DOI                                     5
Unnamed: 21                            42
Unnamed: 22                            42
Unnamed: 23                            42
Unnamed: 24                            42
References                              5
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 26 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Cu                                   38 non-null     object
 1   Al                                   42 non-null     float64
 2   Co                                   42 non-null     float64
 3   Cr                                   42 non-null     float64
 4   Mg                                   42 non-null     float64
 5   Ni                                   42 non-null     float64
 6   Si                                   42 non-null     float64
 7   Sn                                   42 non-null     float64
 8   Zn                                   42 non-null     float64
 9   Tss (K)                              42 non-null     float64
 10  tss (h)                              42 non-null     float64
 11  CR reduction (%)                     42 non-null     float64
 12  Aging                                37 non-null     object
 13  Tag (K)                              42 non-null     float64
 14  tag (h)                              42 non-null     float64
 15  Secondar. thermo-mecha0ical process  37 non-null     object
 16  Hardness (HV)                        42 non-null     float64
 17  Yield strength (MPa)                 42 non-null     float64
 18  Ultimate tensile strength (MPa)      42 non-null     float64
 19  Electrical conductivity (%IACS)      42 non-null     float64
 20  DOI                                  37 non-null     object
 21  Unnamed: 21                          0 non-null      float64
 22  Unnamed: 22                          0 non-null      float64
 23  Unnamed: 23                          0 non-null      float64
 24  Unnamed: 24                          0 non-null      float64
 25  References                           37 non-null     object
dtypes: float64(21), object(5)
memory usage: 8.7+ KB

In [20]:
#for categorical columns
for col in df.columns:
  if df[col].dtype=='object':
    df[col]=df[col].fillna(df[col].mode()[0])

In [21]:
df.isnull().sum()

Cu                                      0
Al                                      0
Co                                      0
Cr                                      0
Mg                                      0
Ni                                      0
Si                                      0
Sn                                      0
Zn                                      0
Tss (K)                                 0
tss (h)                                 0
CR reduction (%)                        0
Aging                                   0
Tag (K)                                 0
tag (h)                                 0
Secondar. thermo-mecha0ical process     0
Hardness (HV)                           0
Yield strength (MPa)                    0
Ultimate tensile strength (MPa)         0
Electrical conductivity (%IACS)         0
DOI                                     0
Unnamed: 21                            42
Unnamed: 22                            42
Unnamed: 23                            42
Unnamed: 24                            42
References                              0
dtype: int64

In [29]:
#removing the unnamed columns as they have all missing values
df=df.drop(['Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24'],axis=1)

In [30]:
df.shape

(42, 22)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Cu                                   42 non-null     object
 1   Al                                   42 non-null     float64
 2   Co                                   42 non-null     float64
 3   Cr                                   42 non-null     float64
 4   Mg                                   42 non-null     float64
 5   Ni                                   42 non-null     float64
 6   Si                                   42 non-null     float64
 7   Sn                                   42 non-null     float64
 8   Zn                                   42 non-null     float64
 9   Tss (K)                              42 non-null     float64
 10  tss (h)                              42 non-null     float64
 11  CR reduction (%)                     42 non-null     float64
 12  Aging                                42 non-null     object
 13  Tag (K)                              42 non-null     float64
 14  tag (h)                              42 non-null     float64
 15  Secondar. thermo-mecha0ical process  42 non-null     object
 16  Hardness (HV)                        42 non-null     float64
 17  Yield strength (MPa)                 42 non-null     float64
 18  Ultimate tensile strength (MPa)      42 non-null     float64
 19  Electrical conductivity (%IACS)      42 non-null     float64
 20  DOI                                  42 non-null     object
 21  References                           42 non-null     object
dtypes: float64(17), object(5)
memory usage: 7.3+ KB

In [32]:
df.to_excel('/content/cleaned_data.xlsx')